@import "../../sass/variables";

.admin-contact-container{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 10rem 20rem;
    min-height:80vh;
    margin-bottom: 3rem;
    width: 100%;
    
    .contact-tekst{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
        margin-top: 5rem;
    }
    
    table{
        grid-column: 2/3;
        grid-row: 2/-1;
        border-collapse: collapse;
        width: 100%;
        }
        
        thead{
            background-color: $col_red;
            color: $col_white;
            th{
                height: 3rem;
                border: 1px solid $col_lightgrey;
            }
        
            
        }
        
        table, td, tr{
        padding: 10px;
        border: 1px solid black;
        }

        .imageCol{
            width: 100px;
        }

}

//** MOBILE DEVICE **//
@media (max-width: 480px) {
    .admin-contact-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-columns: 1fr;
      height:70vh;
    }
  }
  
